venv/
toronto_outbreaks_bkp/
sset_venv/
dbt_venv/
datasets/
keys/
*.json
*.db
mage_data
.DS_Store
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.variables/
__pycache__/
docker-compose.override.yml
logs/
mage-ai.db
mage_data/
secrets/
keys/
*.keys
.*/
~/